<!DOCTYPE html>
<html>
  <head>
    <title>WeeklyDo <%= title(@title, params) %></title>
    <%= Gon::Base.render_data %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/top_nav" %>

    <div class="row">
      <div class="col s12">
        <%= render partial: "shared/flash" %>
      </div>
    </div>
    <div class="row_with_max_width">
      <%= yield %>
    </div>
    <div>
      <%= render partial: "shared/fix_bottom_message" %>
    </div>
  </body>
</html>
