<!DOCTYPE html>
<html>
  <head>
    <title>WeeklyDo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/top_nav" %>

    <div class="row">
      <div class="col s12">
        <%= render partial: "shared/flash" %>
      </div>

    <div class="row_with_max_width">
      <%= yield %>
    </div>

  </body>
</html>
